/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font class */
.font-aesthetic {
  font-family: "Aesthetic Romance", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Aesthetic Romance';
  src: url('/fonts/Aesthetic Romance.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* globals.css */
.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.6); */
  animation: circleAnimation 1s ease-out forwards;
  pointer-events: none;
}

@keyframes circleAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}